<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/pollweb</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
</resource-ref>
  
  <servlet>
    <servlet-name>creaSondaggioServlet</servlet-name>
    <servlet-class>controller.CreazioneSondaggio</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>Login</servlet-name>
    <servlet-class>controller.Login</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>creaSondaggioServlet</servlet-name>
    <url-pattern>/valori</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
    <url-pattern>/logon</url-pattern>
  </servlet-mapping>
  
</web-app>