<div class="content">
<#if domanda??>
<div class="containerDomanda">
	<h3 class="domanda">${domanda.testo}</h3>
	<#if options??>	
		<#if domanda.tipo == "Radio">
			<#list options as opzione>
				<input type="Radio" id="risposta" name="rispsota" form="compilazione"/>
				<label for="risposta">${opzione.testo}</label><br />
			</#list>
		</#if>
		<#if domanda.tipo == "Checkbox">
			<#list options as opzione>
				<input type="Checkbox" id="risposta" name="rispsota" form="compilazione"/>
				<label for="risposta">${opzione.testo}</label><br />
			</#list>
		</#if>
	<#else>
			<input type="${domanda.tipo}" id="risposta" name="risposta" form="compilazione"/>
	</#if>
</div>
</#if>
</div>