
<#if domanda??>
<div class="containerDomanda">
	<div class="tooltip">
		<h3>${domanda.testo}</h3>
  		<span class="tooltiptext tooltip-right">${domanda.nota}</span>
	</div>
	<br />
	<#assign x=indiceDomanda >
	<#if options??>	
		<#if domanda.tipo == "Radio">
			<#list options as opzione>
				<input type="Radio" id="${x}.domanda" name="${x}.domanda" form="compilazione" value="${opzione.testo}"/>
				<label for="${x}.domanda">${opzione.testo}</label><br />
			</#list>
		</#if>
		<#if domanda.tipo == "Checkbox">
			<#list options as opzione>
				<input type="Checkbox" id="${x}.domanda" name="${x}.domanda" form="compilazione" value="${opzione.testo}"/>
				<label for="${x}.domanda">${opzione.testo}</label><br />
			</#list>
		</#if>
	<#else>
			<input type="${domanda.tipo}" id="${x}.domanda" name="${x}.domanda" form="compilazione"/>
	</#if>
</div>
</#if>
