 <font face="Verdana" size="3" color="#11a69c">
        <p align=”center” >
          <div class="formAdd">
            <form name="domande" value="domande" action="crea" method="POST" id="formDomande">
              <div class="buttonAdd">
                <input type="button" name="addText" value="Add Text Question" id="addText" onclick="addFieldQuestion()" class="addButtons" />
                <input type="button" name="addChoice" value="Add Checkbox Question" id="addChoice" onclick="addMultiQuestion()" class="addButtons" /><br />
                <!--<input type="submit" id="submitButton" class="submitButton" name="submit" value="Crea Sondaggio" />-->
              </div>
              <div class="sondaggioInfo">
                <h3>Inserisci qui le informazioni del sondaggio</h3>
                <input type="text" id="titoloS" name="titoloS" class ="textField" placeholder="Titolo" /><br />
                <input type="text" id="beginText" name="beginText" class ="textField" placeholder="Testo di Inizio" />
                <input type="text" id="endText" name="endText" class ="textField" placeholder="Testo di Fine" /><br />
                <select name="modalitaS" id="modalitaS">
                	<option value="Privato">Privato</option>
                	<option value="Aperto">Aperto</option>
                </select>
              </div>
              <input type="submit" id="creaSondaggio" class="submitButton" name="creaSondaggio" value="Crea Sondaggio" />
            </form>
          </div>
       </p>
    </font>