 <font face="Verdana" size="3" color="#11a69c">
        <p align=”center” >
          <div class="formAdd">
            <form name="domande" value="domande" action="crea" method="POST" id="formDomande">
              <div class="buttonAdd">
                <input type="button" name="addText" value="Add Text Question" id="addText" onclick="addFieldQuestion()" class="addButtons" />
                <input type="button" name="addChoice" value="Add Checkbox Question" id="addChoice" onclick="addMultiQuestion()" class="addButtons" /><br />
                <!--<input type="submit" id="submitButton" class="submitButton" name="submit" value="Crea Sondaggio" />-->
              </div>
              <div class="sondaggioInfo">
                <h3>Inserisci qui le informazioni del sondaggio</h3>
                <input type="text" id="titoloS" name="titoloS" class ="textField" placeholder="Titolo" /><br />
                <input type="radio" id="modalitaS" name="modalitaS" value="Privato" />
                <label for="modalitaS">Privato</label>
                <input type="radio" id="modalitaS" name="modalitaS" value="Aperto" />
                <label for="modalitaS">Aperto</label>
              </div>
              <input type="submit" id="submitButton" class="submitButton" name="submit" value="Crea Sondaggio" />
            </form>
          </div>
       </p>
    </font>