<%@ page language="java" contentType="text/html; charset=ISO-8859-1"
    pageEncoding="ISO-8859-1"%>
<!DOCTYPE html>
<?xml version="1.0" encoding="ISO-8859-1"?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Errore</title>
        <link rel="stylesheet" href="style/default.css" type="text/css"/>
    </head>
    <body>
        <div class="body">
        <div><a href="issues">Return to homepage</a></div>
        <h1>Error</h1>
        <p>The system encountered the following error while handling your request:</p>
        <p><b>${error!"Unknown error"}</b></p>
        </div>
    </body>
</html>