<//%@ page language="java" contentType="text/html; charset=ISO-8859-1"%>
<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<meta contentType="text/html"></meta>
	<title>PollWeb</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/pagineNormale.css">
    <link rel="stylesheet" type="text/css" href="css/contentPart.css">
    <script type="text/javascript" src="js/addFieldQuestion.js" charset="ISO-8859-1"></script>
    <script type="text/javascript" src="js/addChoiceQuestion.js" charset="ISO-8859-1"></script>
    <script type="text/javascript" src="js/funzionalita.js" charset="ISO-8859-1"></script>
</head>
<body>
    <div class="sidenav">
      <img src="img/Logo2.png" />
      <a href="crea">Crea Sondaggio</a>
      <a href="#">Partecipa ad un Sondaggio</a>
      <a href="#">Sondaggi disponibili</a>
      <a href="#">I miei Sondaggi</a>
      <a href="login.html">LogOut</a>
    </div>

    <div class="content"> 
      <#include content_tpl>
    </div>
  </body>
</html>